@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Nastaliq+Urdu:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    color: white;
    background: hsl(235, 19%, 13%);
}

.hero__section {
    background-image: url(images/developer.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

.text__container {
    position: absolute;
    top: 10%;
    left: 10%;
}

/* h2 {
    font-size: clamp(0.5rem, 3vw, 3rem);
}

.hi {
    font-size: clamp(1.5rem, 10vw, 4rem);
}

h1 {
    font-size: clamp(1rem, 10vw, 5rem);
} */

h2 {
    font-size: clamp(0.5rem, calc(2.5vw + 1rem), 3rem);
}

.hi {
    font-size: clamp(1.5rem, calc(8vw + 1rem), 4rem);
}

h1 {
    font-size: clamp(1rem, calc(8vw + 1rem), 5rem);
}

.my__question__section {
    min-width: 100%;
    height: 17.5rem;
    background: hsl(235, 19%, 13%);
    text-align: center;
    position: relative;
}

.mq {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.you {
    font-size: clamp(1rem, calc(2.5vw + 3rem), 5rem);
}

.skills__section {
    /* width: 100%; */
    background: hsl(0, 0%, 100%);
    color: black;

    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 25rem));
    gap: 1.5rem;
    /* overflow: hidden; */
    justify-content: center;
}

.card {
    /* margin: 1rem; */
    /* border: 2px solid rgba(192, 185, 185, 0.733); */
    box-shadow: 4px 8px 16px hsla(240, 50%, 90%, .5);
    border-radius: .8rem;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 4px 8px 16px hsla(240, 50%, 10%, .5);
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

.card img {
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
}

.text__section {
    padding: 2rem;
}

.card__heading {
    font-size: clamp(0.1rem, calc(.5vw + 1rem), 2.5rem);
}

.description {
    font-size: clamp(0.1rem, calc(.5vw + .5rem), 1.5rem);
}

.bottom__section {
    display: flex;
    justify-content: center;
}

.contact__me {
    padding: 3rem;
    width: 100%;
    background: hsl(64, 93%, 17%);
}

.about__me {
    padding: 3rem;
    width: 100%;
    background: hsl(18, 100%, 22%);
}

.footer__section {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

#mail {
    margin-top: 1.2rem;
    font-weight: 600;
}

@media (max-width: 460px) {
    .bottom__section {
        flex-direction: column;
    }
}



@media (max-width: 600px) {
    .text__container {
        top: 20%;
        left: 5%;
        right: 5%;
        text-align: center;
    }
}